{{ define "main" }}
  {{ partial "components/page-header.html" . }}

  <section class="section aos-init aos-animate" data-aos="fade-in" data-aos-delay="150">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center mb-5">
          <div class="pricing-switch d-flex align-items-center justify-content-center w-100 mb-4">
            <label class="h5 m-0" id="monthly">Billed Monthly</label>
            <div class="toggle">
              <input class="pricing-check" type="checkbox">
              <b class="switch"></b>
            </div>
            <label class="h5 m-0" id="annually">Billed Annually</label>
          </div>
          <span class="text-primary py-2 px-3 rounded-3" style="background:#f9f9f9">
            Save 50% On Annual Subscription
          </span>
        </div>
      </div>

      <div class="row justify-content-xl-center">
        <div class="col-xl-10">
          <div class="row">

            <!-- Essentials Plan -->
            <div class="col-lg-4 col-md-6 mt-4">
              <div class="card pricing-card border-0">
                <div class="card-body">
                  <h3 class="fw-600 mb-1">Essentials</h3>
                  <span class="h2 font-weight-bold d-inline-flex">
                    $<span class="data-count" data-count-monthly="39" data-count-annually="139">39</span>
                  </span>
                  <span class="text-monthly">/Month</span>
                  <span class="text-annually d-none">/Year</span>
                  <p class="border-bottom pb-3">
                    Nam ex Magnam ratione corporis harum minus quae laudantium, ullam quaerat Illum
                  </p>
                  <ul class="list-unstyled check-list-2 mt-3 mb-4">
                    <li class="mb-2">
                      <i class="las la-thumbtack me-2 text-primary"></i>
                      Track Reward Part Program
                    </li>
                    <li class="mb-2">
                      <i class="las la-thumbtack me-2 text-primary"></i>
                      Design and prototype powerful
                    </li>
                    <li class="mb-2">
                      <i class="las la-thumbtack me-2 text-primary"></i>
                      Keep work in unlimited storage
                    </li>
                    <li class="mb-2">
                      <i class="las la-thumbtack me-2 text-primary"></i>
                      Add people document handoff.
                    </li>
                  </ul>
                  <a href="/" class="btn btn-outline-primary d-block">Grab This Deal</a>
                </div>
              </div>
            </div>

            <!-- Team Plan -->
            <div class="col-lg-4 col-md-6 mt-4">
              <div class="card pricing-card border-0">
                <div class="card-body">
                  <h3 class="fw-600 mb-1">Team</h3>
                  <span class="h2 font-weight-bold d-inline-flex">
                    $<span class="data-count" data-count-monthly="99" data-count-annually="199">99</span>
                  </span>
                  <span class="text-monthly">/Month</span>
                  <span class="text-annually d-none">/Year</span>
                  <p class="border-bottom pb-3">
                    Sed a ratione nemo adipisci doloribus quisquam aut sapiente quibusdam illum debitis.
                  </p>
                  <ul class="list-unstyled check-list-2 mt-3 mb-4">
                    <li class="mb-2">
                      <i class="las la-thumbtack me-2 text-primary"></i>
                      Track Reward Part Program
                    </li>
                    <li class="mb-2">
                      <i class="las la-thumbtack me-2 text-primary"></i>
                      Design and prototype powerful
                    </li>
                    <li class="mb-2">
                      <i class="las la-thumbtack me-2 text-primary"></i>
                      Keep work in unlimited storage
                    </li>
                    <li class="mb-2">
                      <i class="las la-thumbtack me-2 text-primary"></i>
                      Add people document handoff.
                    </li>
                  </ul>
                  <a href="/" class="btn btn-primary d-block">Grab This Deal</a>
                </div>
              </div>
            </div>

            <!-- Professional Plan -->
            <div class="col-lg-4 col-md-6 mt-4">
              <div class="card pricing-card border-0">
                <div class="card-body">
                  <h3 class="fw-600 mb-1">Professional</h3>
                  <span class="h2 font-weight-bold d-inline-flex">
                    $<span class="data-count" data-count-monthly="129" data-count-annually="229">129</span>
                  </span>
                  <span class="text-monthly">/Month</span>
                  <span class="text-annually d-none">/Year</span>
                  <p class="border-bottom pb-3">
                    Iusto optio voluptatem numquam natus totam ea vero minus nihil libero non!
                  </p>
                  <ul class="list-unstyled check-list-2 mt-3 mb-4">
                    <li class="mb-2">
                      <i class="las la-thumbtack me-2 text-primary"></i>
                      Track Reward Part Program
                    </li>
                    <li class="mb-2">
                      <i class="las la-thumbtack me-2 text-primary"></i>
                      Design and prototype powerful
                    </li>
                    <li class="mb-2">
                      <i class="las la-thumbtack me-2 text-primary"></i>
                      Keep work in unlimited storage
                    </li>
                    <li class="mb-2">
                      <i class="las la-thumbtack me-2 text-primary"></i>
                      Add people document handoff.
                    </li>
                  </ul>
                  <a href="/" class="btn btn-outline-primary d-block">Grab This Deal</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}
