{{ define "main" }}
  {{ partial "components/page-header.html" . }}

  <section class="section aos-init aos-animate" data-aos="fade-in" data-aos-delay="150">
    <div class="container">
      <div class="row justify-content-xl-center">
        <div class="col-xl-10">
          <div class="row justify-content-center">

            <!-- Essentials Plan -->
            <div class="col-lg-4 col-md-6 mt-4">
              <div class="card pricing-card border-0">
                <div class="card-body">
                  <h3 class="fw-600 mb-1">Monthly</h3>
                  <span class="h2 font-weight-bold d-inline-flex">
                    $<span class="data-count" data-count-monthly="39" data-count-annually="139">15</span>
                  </span>
                  <span class="text-monthly">/Month</span>
                  <span class="text-annually d-none">/Year</span>
                  <a href="https://polymorphiclabs.lemonsqueezy.com/checkout/buy/0da98d08-65e4-4728-b3f9-a219fce333cd" class="btn btn-outline-primary d-block">Grab This Deal</a>
                </div>
              </div>
            </div>

            <!-- Team Plan -->
            <div class="col-lg-4 col-md-6 mt-4">
              <div class="card pricing-card border-0">
                <div class="card-body">
                  <h3 class="fw-600 mb-1">Yearly</h3>
                  <span class="h2 font-weight-bold d-inline-flex">
                    $<span class="data-count" data-count-monthly="99" data-count-annually="199">50</span>
                  </span>
                  <span class="text-monthly">/Year</span>
                  <span class="text-annually d-none">/Year</span>
                  <a href="https://polymorphiclabs.lemonsqueezy.com/checkout/buy/0da98d08-65e4-4728-b3f9-a219fce333cd" class="btn btn-primary d-block">Grab This Deal</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}
